<%= render 'user_header', user: @user, photos_count: @photos_count, albums_count: @albums_count, following_count: @following_count, followers_count: @followers_count %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <% if current_user == @user %>
        <div class="d-flex justify-content-end mb-3" >
          <%= link_to new_photo_path do %>
            <button class="add-new-btn rounded-pill px-2 fw-bold">Add Photo</button>
          <% end %>
        </div>
      <% end %>      <% if @photos.any? %>
        <div class="row g-3">
          <% @photos.each do |photo| %>
            <div class="col-6 col-md-3 col-lg-3">
              <div class="position-relative">
                <% if photo.image.present? %>
                  <%= image_tag photo.image.url, alt: photo.title,
                                class: "profile-photo-cover img-fluid w-100 rounded shadow-sm",
                                data: { bs_toggle: "modal", bs_target: "#photoModal#{photo.id}" } %>
                  <% if current_user == photo.user %>
                    <%= link_to edit_photo_path(photo), class: "photo-edit-btn position-absolute" do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                  <% end %>
                  <p class="px-2 text-muted text-center mb-4"><%= photo.title %></p>
                <% end %>
              </div>
              <!-- Include modal-->
              <%= render 'photos/modal', photo: photo %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<style></style>
