<nav class="navbar navbar-expand-lg w-100">
  <div class="container-fluid">
    <a class="navbar-brand text-white fw-bold" href="#">Fotobook</a>
    <!-- Mobile Toggler -->
    <button class="navbar-toggler text-white border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <form class="search-bar d-flex mx-auto mt-2 mt-lg-0" style="min-width: 400px;" role="search">
        <input class="form-control me-2" type="search" placeholder="Search Photo / Album" aria-label="Search / Album"/>
      </form>
      <!--  User Area -->
      <ul class="navbar-nav ms-auto align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item d-flex align-items-center me-3">
            <% if current_user.avatar.present? %>
              <%= image_tag current_user.avatar, class: "rounded-circle", style: "width: 30px; height: 30px;" %>
            <% else %>
              <div class="rounded-circle bg-light d-flex align-items-center justify-content-center text-primary fw-bold"
                   style="width: 30px; height: 30px; font-size: 14px;">
                <%= current_user.first_name&.first&.upcase %><%= current_user.last_name&.first&.upcase %>
              </div>
            <% end %>
            <span class="text-white fw-bold ms-2"><%= current_user.first_name %> <%= current_user.last_name %></span>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", destroy_user_session_path, method: :delete,
                 class: "btn btn-link text-white fw-bold text-decoration-none p-0 border-0" %>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="<%= new_user_session_path %>">Login</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
